header {
  height: 103vh;
  background-color: #89d1cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

header nav {
  padding: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .brand {
  z-index: 10;
}

header nav .brand img {
  width: 10em;
}

header nav .brand a {
  font-weight: bold;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  font-weight: bold;
  font-size: 0.9em !important;
  margin-left: 2em;
}

header nav ul li i {
  cursor: pointer;
}

header nav ul li .btn {
  font-weight: bold;
  margin-left: 2em;
}

header nav ul li .btn:hover {
  color: #ffffff;
}

header .banner {
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner .inner .left {
  height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(65.07%, rgba(240, 225, 225, 0.77)), color-stop(95.09%, rgba(240, 225, 225, 0.1463)), color-stop(65.07%, rgba(240, 225, 225, 0.77)), color-stop(95.09%, rgba(240, 225, 225, 0.1463)));
  background: linear-gradient(90deg, rgba(240, 225, 225, 0.77) 65.07%, rgba(240, 225, 225, 0.1463) 95.09%, rgba(240, 225, 225, 0.77) 65.07%, rgba(240, 225, 225, 0.1463) 95.09%);
  -webkit-box-shadow: 0px 10px 14px rgba(166, 88, 88, 0.38);
          box-shadow: 0px 10px 14px rgba(166, 88, 88, 0.38);
  padding: 3em 2em;
  border-radius: 3em;
}

header .banner .inner .left p {
  font-weight: bold;
}

header .banner .inner .left .title {
  font-size: 2.5em;
}

header .banner .inner .left .btn {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5em;
}

header .banner .inner .left .btn:hover {
  background: transparent;
  color: #bc0a0f;
}

header .banner .inner .right {
  height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner .inner .right img {
  width: 100%;
  max-width: 25em;
  cursor: pointer;
}

header .login-modal {
  -webkit-transform: rotateX(65deg) scale(0.75) translateY(30px);
          transform: rotateX(65deg) scale(0.75) translateY(30px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .login-modal .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .login-modal .inner form {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60.07%, rgba(240, 225, 225, 0.77)));
  background: linear-gradient(180deg, rgba(240, 225, 225, 0.77) 60.07%);
  -webkit-box-shadow: 0px 10px 14px rgba(166, 88, 88, 0.38);
          box-shadow: 0px 10px 14px rgba(166, 88, 88, 0.38);
  padding: 5em 5em;
  border-radius: 2em;
}

header .login-modal .inner form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #151513;
}

header .login-modal .inner form .form input {
  background: transparent;
  padding: 0.5em;
  outline: none;
  border: 2px solid #16a39c;
  color: #151513;
  border-radius: 0.5em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

header .login-modal .inner form .form input::-webkit-input-placeholder {
  color: #151513;
  font-size: 0.8em;
}

header .login-modal .inner form .form input:-ms-input-placeholder {
  color: #151513;
  font-size: 0.8em;
}

header .login-modal .inner form .form input::-ms-input-placeholder {
  color: #151513;
  font-size: 0.8em;
}

header .login-modal .inner form .form input::placeholder {
  color: #151513;
  font-size: 0.8em;
}

header .login-modal .inner form .form input:focus {
  border: 2px solid #bc0a0f;
}

header .login-modal .inner form .form input:nth-child(3) {
  position: relative;
}

header .login-modal .inner form .form .password-toggle {
  position: absolute;
  margin-top: 8.8em;
  margin-left: 10em;
  cursor: pointer;
}

header .login-modal .inner form .form small {
  font-size: 0.8em;
  cursor: pointer;
}

header .login-modal .inner form .form p {
  font-size: 0.8em;
  font-weight: bold;
}

header .login-modal .inner form .form p i {
  cursor: pointer;
}

header .login-modal .inner form .form .btn {
  font-size: 0.9em;
}

header .login-modal-toggle {
  -webkit-transform: rotateX(0) scale(1) translateY(0);
          transform: rotateX(0) scale(1) translateY(0);
  visibility: visible;
  opacity: 1;
}

.login-modal-coming nav ul {
  display: none;
}

.login-modal-coming .banner {
  display: none;
}
/*# sourceMappingURL=index.css.map */